<div *ngIf="pendingSubject" class="row card">
<div class="col-md-8 mx-auto">
  <div class="card card-user text-center">
    <div class="card-header">
      <h5 class="card-title">Proposition Sujet PFE</h5>
    </div>
    <div class="card-body">
      <div *ngIf="pendingSubject.student">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h6>Étudiant</h6>
          <br>
        </div>
      </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="lastName">Nom</label>
              <input type="text" class="form-control" disabled=""  [(ngModel)]='pendingSubject.student.lastName' #lastname>
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label for="firstName">Prénom</label>
              <input type="text" class="form-control" disabled=""  [(ngModel)]='pendingSubject.student.firstName' #firstName>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="major">N° d'inscription</label>
              <input type="text" class="form-control" disabled=""  [(ngModel)]='pendingSubject.student.studentNumber' #major>
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label for="cin">CIN</label>
              <input type="text" class="form-control" disabled="" [(ngModel)]='pendingSubject.student.CIN' #cin>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="major">Filière</label>
              <input type="text" class="form-control" disabled=""  [(ngModel)]='pendingSubject.student.major' #major>
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label for="diploma">Diplôme</label>
              <input type="text" class="form-control" disabled="" [(ngModel)]='pendingSubject.student.diploma' #diploma>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <h6>Sujet PFE proposé</h6>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">Titre Sujet</label>
              <input type="text" class="form-control" [(ngModel)]='pendingSubject.title' disabled=""   #title>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control textarea" [(ngModel)]='pendingSubject.description' disabled></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Catégories</label>
              <div *ngFor="let category of pendingSubject.categories">
              <span class="badge badge-pill badge-info">{{category}}</span>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="type">Type</label>
              <input type="text" class="form-control" disabled="" [(ngModel)]='pendingSubject.type' #type>
            </div>
          </div>
          <div class="col-md-6 pl-1">
            <div class="form-group">
              <label for="duration">Durée (mois)</label>
              <input type="text" class="form-control" disabled="" [(ngModel)]='pendingSubject.duration' #duration>
            </div>
          </div>
        </div>
        <div *ngIf="pendingSubject.entreprise">
        <div class="row">
          <div class="col-md-12">
            <br>
            <h6>Établissement d'acceuil</h6>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="entreprise">Nom</label>
              <input type="text" class="form-control" disabled="" [(ngModel)]='pendingSubject.entreprise.name' #entreprise>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="website">Site officiel</label>
              <input type="text" class="form-control" disabled=""  [(ngModel)]='pendingSubject.entreprise.website' #website>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pendingSubject.supervisor">
        <div class="row">
          <div class="col-md-12">
            <br>
            <h6>Encadrant accueillant</h6>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="supervisor">Nom et Prénom</label>
              <input type="text" class="form-control" disabled="" [(ngModel)]='pendingSubject.supervisor.firstName + pendingSubject.supervisor.lastName' #supervisor>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="supervisorEmail">Email</label>
              <input type="text" class="form-control" disabled=""  [(ngModel)]='pendingSubject.supervisor.email'   #supervisorEmail>
            </div>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button type="button" class="btn btn-primary btn-round"  data-toggle="modal" data-target="#acceptanceModal">Accepter</button>
            <button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#refusalModal">Refuser</button>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="acceptanceModal" tabindex="-1" role="dialog" aria-labelledby="affectation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="affectation">L'acceptation du sujet nécessite l'affectation d'un encadreur</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Annuler" #closeAcceptanceModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm" (ngSubmit)="acceptRequest()" validate>
      <div class="modal-body">
        <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span>Veuillez affecter un encadreur à ce sujet: </span>
                  <select name="selectedProfessorEmail" id="selectedProfessorEmail" [(ngModel)]="selectedProfessor" #selectedProfessorEmail="ngModel" required>
                    <option *ngFor="let professor of possibleProfessors" [ngValue]="professor" >{{professor.firstName}} {{professor.lastName}}</option>
                  </select>
                  <div *ngIf="selectedProfessorEmail.invalid && (refusal.dirty || refusal.touched) " class="alert alert-danger alert-dismissible fade show">
                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                      <span>Le choix d'un encadrant est obligatoire</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Avez-vous des remarques à propos de cette proposition?</label>

                  <textarea id="notice" name="notice" 
                            class="form-control textarea" placeholder="Vos remarques..."
                            [(ngModel)]="notice"></textarea>
                </div>
              </div>

            </div>      
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Annuler</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-danger btn-round">Confirmer</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="refusalModal" tabindex="-1" role="dialog" aria-labelledby="confirmation" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="confirmation">Confirmation du refus de la proposition</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Annuler" #closeRefusalModal>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm" (ngSubmit)="refuseRequest()" validate>
      <div class="modal-body">
        <div class="card-body">
          
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <span>Êtes-vous certain que cette proposition de sujet de stage PFE n'est pas valide?</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Dans ce cas, la justification est obligatoire:</label>
                  <textarea id="refusal" name="refusal"
                            class="form-control textarea" placeholder="Explicitez les raisons de refus ici"

                            minlength="100" required [(ngModel)]="notice"   #refusal="ngModel"></textarea>
                </div>
                <div *ngIf="refusal.invalid && (refusal.dirty || refusal.touched)" class="alert alert-danger alert-dismissible fade show">
                  <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                  </button>
                    <span>Ce champ est obligatoire</span>
                </div>
              </div>
            </div>      
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Annuler</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-danger btn-round">Confirmer le refus</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>
