<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        INSAT
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made by Fares Soltani, Jawher Bouhouch, Yassine Gabsi, Hanin Ayadi and Mohamed Aymen Ben Slimen
        </div>
    </div>
</footer>
