<div class="container">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <h4 class="card-title">Academic years</h4>
            </div>
            <div class="col">
              <button class="btn btn-primary" routerLink="/academic-year/add/year">New academic year</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Year
            </th>
            <th>
              Start date
            </th>
            <th>
              End date
            </th>
            <th>
              Internship start date
            </th>
            <th>
              Internship end date
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let year of yearsList">
              <td>
                {{year.year}}
              </td>
              <td>
                {{year.startDate.split('T')[0]}}
              </td>
              <td>
                {{year.endDate.split('T')[0]}}
              </td>
              <td>
                {{year.internshipsStartDate.split('T')[0]}}
              </td>
              <td>
                {{year.internshipsEndDate.split('T')[0]}}
              </td>
              <td>
                <button type="button" class="btn btn-primary" [routerLink]="['/academic-year/listing/sessions']" [queryParams]="{year: year._id}">Sessions</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
