<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Etudiants</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="alert-danger text-center" [hidden]="hidden2">
            Voulez vous vraiment supprimer cet étudiant ?
            <button class="btn btn-danger" (click)="delete(); $event.stopPropagation();">Oui</button>
            <button class="btn btn-default" (click)="cancel()">Non</button>
          </div>
          <table class="table">
            <thead class=" text-primary">
            <th>
              Nom
            </th>
            <th>
              Prénom
            </th>
            <th>
              Num d'inscription
            </th>
            <th>
              Filière Classe
            </th>
            <th>
              Modifier
            </th>
            <th>
              Supprimer
            </th>
            </thead>
            <tbody>
            <tr *ngFor="let student of students">
              <td>
                {{student.lastName}}
              </td>
              <td>
                {{student.firstName}}
              </td>
              <td>
                {{student.studentNumber}}
              </td>
              <td>
                {{student.major + " " +student.level}}
              </td>
              <td class="text-center">
                <a class="close" (click)="pick(student)"><i class="nc-icon nc-settings"></i></a>
              </td>
              <td class="text-center">
                <a class="close" (click)="alertDelete(student)"><i class="nc-icon nc-simple-remove"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Ajouter un Etudiant</h5>
      </div>
      <div class="card-body">
        <form (submit)="add()">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Username</label>

                <input #username="ngModel" minlength="8" type="text" required class="form-control" name="username" placeholder="Username" [(ngModel)]="stud.username">
                <div *ngIf="username.invalid && (username.dirty && username.touched)"
                     class="alert alert-danger">
                  Username invalide
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">

                <label for="email">Email</label>
                <input #email="ngModel" minlength="22" type="email" required id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="stud.email">
                <div *ngIf="email.invalid && (email.dirty && email.touched)"
                     class="alert alert-danger">
                  Email invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Num d'inscription</label>

                <input #inscription="ngModel" minlength="7" maxlength="7" type="text" required class="form-control" placeholder="ID" name="code" [(ngModel)]="stud.studentNumber">
                <div *ngIf="inscription.invalid && (inscription.dirty && inscription.touched)"
                     class="alert alert-danger">
                  Numéro d'inscription invalide
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>CIN</label>
                <input #cin="ngModel" minlength="8" maxlength="8" type="text" required class="form-control" placeholder="CIN" name="cin" [(ngModel)]="stud.CIN">
                <div *ngIf="cin.invalid && (cin.dirty && cin.touched)"
                     class="alert alert-danger">
                  CIN invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Nom</label>

                <input #name="ngModel" type="text" required class="form-control" placeholder="Last Name" name="lastname" [(ngModel)]="stud.lastName">
                <div *ngIf="name.invalid && (name.dirty && name.touched)"
                     class="alert alert-danger">
                  Nom invalide
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Prénom</label>

                <input #firstName="ngModel" type="text" required class="form-control" placeholder="First Name" name="firstname" [(ngModel)]="stud.firstName">
                <div *ngIf="firstName.invalid && (firstName.dirty && firstName.touched)"
                     class="alert alert-danger">
                  Prénom invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Filière</label>

                <select #major="ngModel" required class="form-control custom-select" name="Major" [(ngModel)]="stud.major">
                  <option value="GL">Génie Logiciel</option>
                  <option value="RT">Réseaux et Télécommunication</option>
                  <option value="IIA">Informatique Industrielle et Automatique</option>
                  <option value="IMI">Instrumentation et Maintenance Industrielle</option>
                  <option value="CH">Chimie Industrielle</option>
                  <option value="BIO">Biologie Industrielle</option>
                </select>

                <div *ngIf="major.invalid && (major.dirty && major.touched)"
                     class="alert alert-danger">
                  Filière invalide
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Diplôme</label>

                <select #diploma="ngModel" required class="form-control custom-select" name="Diploma" [(ngModel)]="stud.diploma">
                  <option value="technicien">Technicien</option>
                  <option value="ingénieur">Ingénieur</option>
                </select>
                <div *ngIf="diploma.invalid && (diploma.dirty && diploma.touched)"
                     class="alert alert-danger">
                  Filière invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Classe</label>

                <select #classe="ngModel" required class="form-control custom-select" name="level" [(ngModel)]="stud.level">
                  <option value="3">3ème année</option>
                  <option value="5">5ème année</option>
                </select>
                <div *ngIf="classe.invalid && (classe.dirty && classe.touched)"
                     class="alert alert-danger">
                  Classe invalide
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Nationalité</label>

                <input #country="ngModel" required type="text" class="form-control" placeholder="Nationality" name="nationality" [(ngModel)]="stud.nationality">
                <div *ngIf="country.invalid && (country.dirty && country.touched)"
                     class="alert alert-danger">
                  Nationalité invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>GSM</label>

                <input #phone="ngModel" type="number" required class="form-control" placeholder="Phone Number" name="phone" [(ngModel)]="stud.phoneNumber">
                <div *ngIf="phone.invalid && (phone.dirty && phone.touched)"
                     class="alert alert-danger">
                  GSM invalide
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Lieu de naissance</label>

                <input #bplace="ngModel" required type="text" class="form-control" placeholder="Birth Place" name="bplace" [(ngModel)]="stud.birthPlace">
                <div *ngIf="bplace.invalid && (bplace.dirty && bplace.touched)"
                     class="alert alert-danger">
                  Lieu de naissance invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Date de naissance</label>

                <input #bdate="ngModel" required type="date" class="form-control" placeholder="Birth Date" name="bday" [(ngModel)]="stud.birthDate">
                <div *ngIf="bdate.invalid && (bdate.dirty && bdate.touched)"
                     class="alert alert-danger">
                  Date de naissance invalide
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Ajouter/Modifier</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
